[spork.cljgui.components.PaintPanel
  spork.util.datetime
  spork.opt.packing
  spork.util.vectors
  spork.util.vecmath
  spork.protocols.spatial
  spork.graphics2d.font
  spork.graphics2d.swing.shared
  spork.graphics2d.canvas
  spork.graphics2d.swing
  spork.util.io
  spork.util.zipfile
  spork.util.general
  spork.graphics2d.image
  spork.geometry.shapes
  spork.graphics2d.stroke
  spork.graphics2d.scene
  spork.util.metaprogramming
  spork.events.observe
  spork.events.base
  spork.events.native
  spork.mvc
  spork.cljgui.components.swing
  spork.sketch
  spork.sketch.activity
  spork.util.combinatoric
  spork.util.ranges
  spork.util.numerics
  spork.util.stats
  spork.util.sampling
  ;;spork.examples.samplingvis
  spork.data.sptree
  spork.util.excel.docjure
  spork.data.passmap
  spork.entitysystem.store
  ;;spork.entitysystem.examples.orcbattle
  spork.util.tags
  ;;spork.sim.discrete
  spork.data.randq
  spork.protocols.core
  spork.util.eager
  spork.data.protocols
  spork.data.mutable
  spork.data.orderedmap
  spork.data.digraph
  spork.data.priorityq
  spork.data.fringe
  spork.data.mpq
  spork.data.searchstate
  spork.cljgraph.search
  spork.cljgraph.core
  spork.cljgraph.jungapi
  spork.cljgraph.io
  ;;spork.incanter.extensions
  spork.util.generators
  spork.util.reducers
  spork.util.array
  spork.data.tables
  
  spork.opt.core
  spork.util.string
  ;;spork.entitysystem.systems
  spork.util.diff
  spork.util.collections
  spork.data.ctrie
  spork.util.indexed
  ;;spork.sketch.legacy
  ;;spork.util.help
  spork.graphics2d.strokes
  spork.util.topotree
  spork.cljgraph.flow
  spork.cljgraph.networksimplex
  spork.opt.representation
  spork.ai.behavior
  spork.ai.core
  spork.ai.demo
  spork.util.stream
  spork.sim.data
  spork.sim.pure.network
  spork.sim.updates
  spork.data.cell
  spork.sim.agenda
  spork.opt.annealing
  spork.opt.optimization
  spork.opt.neighborhood
  spork.sim.pure.test
  spork.util.clipboard
  spork.util.bridging
  spork.util.comparison
  spork.util.mailbox
  spork.data.edge
  spork.data.managed
  ;;spork.cljgraph.main
  spork.data.grid
  spork.sim.simcontext
  spork.sim.engine
  spork.async.system
  spork.ai.behaviorcontext
  spork.data.associative
  spork.data.quadtree
  spork.data.simpleq
  spork.util.temporal
  spork.trends
  spork.util.vector
  spork.util.inspection
  spork.ai.messaging
  spork.util.record
  spork.data.sparse
  spork.util.parsing
  spork.entitysystem.ephemeral
  spork.util.table
  spork.sim.core
  spork.documentation
  spork.cljgraph.arrayflow
  spork.entitysystem.entitytesting
  spork.util.xml
  ;;This exists in backburner...remove!
  ;;spork.sim.events
  spork.graphics2d.debug
  spork.util.cellular
  spork.graphics2d.primitive
  spork.data.indexed
  spork.util.bitset
  spork.opt.gaops
  spork.cljgraph.flowtests
  spork.ai.testing
  spork.entitysystem.diff
  spork.util.serial
  spork.sim.history
  spork.cljgraph.tests
  spork.sim.examples.westworld
  spork.opt.dumbga
  spork.data.adjacency
  spork.mining.core
  spork.sim.test
  spork.opt.dumbanneal
  spork.data.test
  spork.util.excel.core
  spork.util.zip
  ;;Not necessary
  ;;spork.cljgui.components.CanvasGraphics
  ;;everything after this is unused...
  
  ;;spork.util.processor
  ;;spork.mining.clustering
  spork.data.indexedgraph
  ;;spork.DEVS.deprecated
  ;;spork.opt.displaced
  spork.util.interop
  spork.data.persistentq
  ;;spork.ai.notes
  ;;spork.sim.impure.core
  ;;spork.ai.logic
  ;;spork.entitysystem.examples.orcbattleLOL
  spork.ai.machine
  spork.data.bitset
  ;;spork.opt.fastmultipole
  spork.data.lazymap
  spork.data.core
  ;;spork.entitysystem.examples.oblol
  ;;spork.util.log
  ;;spork.data.depq
  ]
